:root {
  color: hwb(0 5% 95%);
  background: #F4F1F1;
  background: var(--black, #f8f8f8);
}

@media (max-width: 768px) {
  .sub-heading {
    font-size: 20px;
  }

  /* Reset default margin and padding on all elements */
  body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }

  body {
    font-family: Arial, sans-serif;
  }

  header {
    background-color: #000;
    color: white;
    padding: 10px;
    text-align: center;
  }

  .section-heading {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .sub-heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    width: 100%;
  }

  .explanation {
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 0 20px;
    width: 50%;
  }

  .boxing-image {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
    width: 50%;
  }

  /* Clear the float after each section */
  .section-heading::after {
    content: "";
    display: table;
    clear: both;
  }
}
